<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <style>
      * {
        border: 0;
        margin: 0;
        outline: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div
      style="
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <h1>Hello World!</h1>
    </div>
  </body>
</html>
